
//
// VARIABLES
//

// Colors
$blue: #f33;

// Grays
$black: #304546;
$darkerGray: #304546;
$darkGray: #304546;
$gray: #304546;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Source Code Pro, Courier New, mono;
$helveticaNeue: Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
